@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body{
	font-family: 'Roboto', sans-serif; 
}

a{
	&:hover{
		text-decoration: none;
	}
}

img{
	max-width: 100%;
}

// =-=-=-=-=-=-=-[ header ]=-=-=-=-=-=-=-

#main_header{
	background: url('/images/background.jpg');
	
	a{
		color: inherit;
	}
}

