// =-=-=-=-=-=-=-[ products ]=-=-=-=-=-=-=-

.product_cell {

	height: 266px;
	margin-bottom: 26px;
	text-align: center;
	
	a{
		color: inherit;
	}
	
	&:nth-child(4n + 1){
		clear: left;
	}
	
	.product_image{

		height: 209px;

		img{
// 			position: relative;
// 			top: 50%;
// 			left: 0;
// 			transform: translateY(-50%);		
		}
	}
}

#single_product{
	.product_image{
		text-align: center;
	}
	
	#qty_field{
		width: 20px;
	}
	
	.cart_buttons{
		a{
			border-radius: 5px;
			background-color: #11653c;
			color: #FFF;
		}
	}
}